@page "/tasks-summary"
@layout SimpleLayout
@rendermode InteractiveWebAssembly

<h4>Tasks Summary</h4>

<div class="alert alert-primary mt-4 p-3" style="border-left: 5px solid #0d6efd;">

    <h5 class="alert-heading fw-bold">Diagnostic of Rendering</h5>
    <hr />

    <dl class="row">
        <dt class="col-sm-4">Place of Execution:</dt>
        <dd class="col-md-8"><code>@RendererInfo.Name</code></dd>

        <dt class="col-sm-4">Is Interactive (now):</dt>
        <dd class="col-md-8"><code>@RendererInfo.IsInteractive</code></dd>

        <dt class="col-sm-4">Assigned Mode:</dt>
        <dd class="col-md-8"><code>@(AssignedRenderMode?.ToString() ?? "None (Static/SSR)")</code></dd>
    </dl>

</div>

<!-- INÍCIO DO NOVO LINK DE NAVEGAÇÃO -->

<div class="mb-4">
    <NavLink href="/" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"/> Go back to Home
    </NavLink>
</div>

<!-- FIM DO NOVO LINK DE NAVEGAÇÃO -->

<h5>
    Usando <b>rendermode InteractiveWebAssembly</b>
</h5>
<br />

@if (tasks == null)
{
    <p class="text-muted">Loading data...</p>
}
else if (!tasks.Any())
{
    <p class="text-muted">No task registered</p>
}
else
{
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Tasks Total:</strong> @tasks.Count
        </li>
        <li class="list-group-item">
            <strong>Completed:</strong> @tasks.Count(t  => t.Completed)
        </li>
        <li class="list-group-item">
            <strong>Pending:</strong> @tasks.Count(t => !t.Completed)
        </li>
        <li class="list-group-item">
            <strong>Date of First Task:</strong>
            @tasks.Min(t => t.DateCriation).ToString("dd/MM/yyyy")
        </li>
        <li class="list-group-item">
            <strong>Date of Last Task:</strong>
            @tasks.Max(t => t.DateCriation).ToString("dd/MM/yyyy")
        </li>
    </ul>
}

@code {
    private List<TaskCourse>? tasks;

    protected override void OnInitialized()
    {
        tasks = TaskData.GetTasks();
    }
}
